body {
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

/* Left column styles */
.left-column {
  justify-content: space-between;
  height: 100vh;
}

/* Chat container styles */
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
  height: 100%;
  max-width: 30em;
}

/* Chat header styles */
.chat-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #002f6c;
  color: #ffffff;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

.reset-button {
  font-size: 0.8rem;
  color: #ffffff;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0.5em;
  right: 1em;
}

/* Chat history styles */
.chat-history {
  overflow-y: auto;
  flex-grow: 1;
}

/* Chat message styles */
.message-text {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1rem;
  line-height: 1.4;
  max-width: 70%;
}

.message-delete {
  font-size: 0.8rem;
  color: #000000;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0.5em;
  right: 1em;
}

.user-message {
  position: relative;
  margin-right: 0;
  margin-left: auto;
  background-color: #cce5ff;
  color: #000000;
}

.ai-message {
  position: relative;
  margin-right: auto;
  margin-left: 0;
  background-color: #f0f0f0;
  color: #333333;
}

.loader {
  --b: 10px;  /* border thickness */
  --n: 10;    /* number of dashes*/
  --g: 10deg; /* gap  between dashes*/
  --c: rgb(0, 0, 200);   /* the color */

  width: 42px; /* size */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px; /* get rid of bad outlines */
  background: conic-gradient(#0000,var(--c)) content-box;
  --_m: /* we use +/-1deg between colors to avoid jagged edges */
    repeating-conic-gradient(#0000 0deg,
       #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
       #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
    radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: load 1s infinite steps(var(--n));
}

@keyframes load {to{transform: rotate(1turn)}}

/* Chat input styles */
.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px;
  border-top: 1px solid #d9d9d9;
}

.chat-input form {
  display: flex;
  flex-grow: 1;
}

.chat-input input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.chat-input button[type="submit"], .action-button {
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: #002f6c;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.chat-input button[type="submit"]:hover {
  background-color: #1a5db1;
}

.chat-history ul {
  list-style: none;
}



/* File list styles */
.file-list-container {
  justify-content: space-between;
  height: 100%;
}

.file-list {
  overflow-y: auto;
  padding: 20px;
}

/* File List styles */
.file-list {
  border-radius: 5px;
  padding: 20px;
}

ul.file-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.file-list li {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #d9d9d9;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.file-list li:hover {
  background-color: #bfbfbf;
}

/* File Content styles */
.file-content-container {
  overflow: auto;
}

/* Website preview styles */
.website-preview-container iframe {
  width: 100%;
  height: 100%;
}

/* Grid container styles */
.right-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 100vh;
}

/* Grid item styles */
.right-column > div {
  padding: 20px;
}
